#submitterIds {
    margin-top: 2%;
}

#pad {
    margin-top: 2%;
}

#submissionResult {
    margin-top: 2%;
}

.menuArea {
    background-color: white;
    border: 1px solid black;
    border-radius: 1%/4%;
}

.git_zip {
    padding: 3%;
}

.inputId {
    padding: 3%;
}

.gradeMenu {
    padding: 3%;
}

#output {
    border: dashed 1px;
    padding: 5px;
    font-family: courier;
    background-color: white;
    border: 1px solid black;
    border-radius: 1%/4%;
}