/* This is linked with the menu nav in the right side. */

#menunav {
    float: right;
    margin-top: 2%;
    width: 17%;
    background: #FFF;
    border: 1px solid #C0C0C0;
    border-radius: 25px;
}

#instructor {
    margin-left: 7%;
    margin-bottom: 7%;
    margin-top: 20%;
    width: 85%;
    height: 100%;
}

#becomeInstructor {
    display: none;
}

#instructorZone {
    display: none;
}

.ul {
    margin-left: 4%;
    list-style-type: none;
    overflow: hidden;
    width: 200px;
}

ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 12px 10px;
    height: 45px;
}

.li {
    float: left;
    border-bottom: 1px solid #bbb;
    width: 70%;
    height: 100%;
    margin-bottom: 10%;
    margin-left: 8%;
}

.li:last-child {
    border-bottom: none;
    margin-bottom: 5%;
}

.li a {
    display: block;
    color: #00bfff;
    background: rgba(255, 255, 255, 1);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.li a:hover {
    color: rgba(255, 255, 255, 1);
    background: #00bfff;
}

.current {
    color: rgba(255, 255, 255, 1) !important;
    background: #00bfff !important;
    text-decoration: none !important;
}


/* This is linked to the body in the left side. */

#coursesContent {
    display: block;
    margin-top: 2%;
    float: left;
    width: 83%;
}

.white_smoke_square {
    border-radius: 4%/20%;
}

.text_lastSubmission {
    float: left;
    margin-left: 2%;
    margin-top: 1%;
}

.grade {
    color: green;
}

.no_course,
.no_exercise {
    margin: 5% 40% 0 -15%;
}

.no_exercise {
    font-size: 20px;
    margin: 5% 11% 0 6%;
}

.warning {
    margin-right: 5%;
}

.white_square_1 {
    border-radius: 1%/2%;
    padding: 2%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.data {
    padding-left: 1%;
    font-family: monospace;
    font-size: 120%;
    float: left;
}

.timestamp {
    font-family: 'URW Chancery L', cursive;
}

.tuto {
    height: 250%;
    width: 250%;
    margin-left: -75%;
}