#logo{
    padding-top: 1%;
    float:left;
    width: 20%;
    height: auto;
}

#pagename{
    float:left;
    padding-left: 1%;
    padding-top: 1%;
    width: 80%;
    color: #fff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 35px;
}

#list {    
    float:left;
    padding-top: 8%;
    padding-left: 4%;
}

#form {
    float:right;   
    padding-top: 9%;
}

#sofia {
    font-family: 'Sofia';
    font-size: 40px;
    text-align: center;
}
.container {
    width: 1220px;
    padding-bottom: 1%
}