.lastSubmission {
    background-color: whitesmoke;
    border: 1px solid #D3D3D3;
    border-radius: 4%/20%;
    margin-top: 5%;
    text-align: center;
}

.text_lastSubmission {
    float: left;
    margin-left: 2%;
    margin-top: 1%;
}

