#coursesContent {
    display: block;
    margin-top: 2%;
    float: left;
    width: 100%;
}

.addCourse {
    margin-left: 37%;
}

.addExercise {
    margin-left: 50%;
}

.course {
    /* just "box-shadow" it's not possible to convert to % */
    box-shadow: 5px 10px 18px grey;
    border-radius: 4%/8%;
    padding: 2%;
    background-color: white;
    border: 2px solid #00bfff;
}

.courseExerciseInputEdit {
    margin-left: 10%;
    text-align: center;
    font-size: 20px;
    background-color: transparent;
}

.exercise {
    /* just "box-shadow" it's not possible to convert to % */
    box-shadow: 5px 10px 18px grey;
    border-radius: 5%/4%;
    padding: 2%;
    background-color: rgb(211, 230, 241);
    border: 2px solid #00bfff;
}


select.input {
    /* just "box-shadow" it's not possible to convert to % */
    -webkit-box-shadow: inset 1px 1px 1px rgb(189, 184, 184);
    -moz-box-shadow: inset 1px 1px 1px rgb(189, 184, 184);
    box-shadow: inset 1px 1px 1px rgb(189, 184, 184);
    overflow: auto;
    border: 1px solid #aaa;
}

textarea.input {
    /* just "box-shadow" it's not possible to convert to % */
    -webkit-box-shadow: inset 1px 1px 1px rgb(189, 184, 184);
    -moz-box-shadow: inset 1px 1px 1px rgb(189, 184, 184);
    box-shadow: inset 1px 1px 1px rgb(189, 184, 184);
    overflow: auto;
    border: 1px solid #aaa;
}

div.panel {
    width: 70%;
    float: left;
    background: transparent;
}

.gc--1-of-4-manage {  
    width: 25%;
}

.gc--3-of-4-manage  {  
    width: 75%;
}

div.manage_button {
    width: 20%;
    float: right;
}