html,


body {
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    margin-top:50px;
    margin-left: 100px;
    margin-right: 200px;

}

#enum {
    position: absolute;
    left: 129px;
    left: 0;
    margin-left: 70px;
    margin-top: 50px;
}

#footer {
    background: #FFF;
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;   /* Height of the footer */
}