.buttonload {
      background-color: rgba(241, 238, 238, 0.952); /* Green background */
      border: none; /* Remove borders */
      color: rgb(37, 35, 35); /* White text */
      padding: 0px 30px; /* Some padding */
      font-size: 20px; /* Set a font-size */
}


div.grade {
    background:#eef;border:#00f solid 1px; padding:2px; margin:2px
}


div.exercise {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}


div.exercise h4 {
   font-weight:bold
}

div.testcase {
background:#eef;
border:#ff0081 ;
border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
     padding:2px;
      margin:2px;
     }
    
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.footer {
  display:block;
  padding:1mm;
  margin-top:2cm;
  background:#efe;
}


/* CSS used here will be applied after bootstrap.css */
.badge-notify{
  background:red;
  position:relative;
  top: -20px;
  left: -35px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 3px;
}

.byline {
  color: #9799a7;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 18px;
}
