@import url("https://fonts.googleapis.com/css?family=Oswald");
.grid {
    list-style: none;
    margin-left: -40px;
}

.gc {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    padding-left: 40px;
    vertical-align: top;
}

.gc--1-of-3 {
    width: 33.33333%;
}

.gc--2-of-3 {
    width: 66.66666%;
}

.gc--2-of-5 {
    width: 40%;
}

.gc--3-of-5 {
    width: 60%;
}

.naccs {
    position: relative;
}

.naccs .menu div {
    padding: 15px 20px 15px 40px;
    margin-bottom: 10px;
    color: #FFF;
    background: #00bfff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 24px;
    left: 15px;
    background-color: #FFF;
    border-radius: 100%;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
    background-color: #FFF;
    left: 0;
    height: 100%;
    width: 3px;
    top: 0;
    border-radius: 0;
}

.naccs .menu div.active {
    color: #FFF;
    padding: 15px 20px 15px 20px;
}

ul.nacc {
    position: relative;
    height: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    position: absolute;
    list-style: none;
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
    width: 100%;
    height: 100%;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    font-family: Georgia, Times, "Times New Roman", serif;
}

ul.nacc li p {
    margin: 0;
}