.home_enjoy {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: 2px solid #00bfff;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #00bfff;
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: transparent;
}

.home_enjoy,
.blue_enjoy,
.white_enjoy {
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.home_enjoy:hover,
.btn.white_enjoy:hover,
.btn.blue_enjoy {
  color: rgba(255, 255, 255, 1);
  background: #00bfff;
}

.blue_enjoy:hover,
.btn.white_enjoy {
  background-color: transparent;
  color: #00bfff;
  border: 1px solid #00bfff;
}

.white_enjoy {
  float: right;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Button in manage and profil page */

div.manage_button {
  width: 20%;
  float: right;
  margin-right: 5%;
}

button.btn_manage,
button.btn_submission {
  margin-top: 3%;
  margin-bottom: 27%;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  width: 120%;
  transition: all 0.4s;
  cursor: pointer;
  background: whitesmoke;
}

button.btn_submission {
  margin-bottom: 3%;
}

button.btn_course,
button.btn_submission {
  background: white;
}

button.btn_manage span,
button.btn_submission span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

button.btn_manage span:after,
button.btn_submission span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.btn_manage:hover span,
button.btn_submission:hover span {
  padding-right: 25px;
}

button.btn_manage:hover span:after,
button.btn_submission:hover span:after {
  opacity: 1;
  right: 0;
}

button.btn_submission {
  margin-top: 10%;
  width: 100%;
}