.my_input {
    margin-left: 10%;
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
}

.my_input:focus,
.form-control:focus,
select.input:focus,
textarea.input:focus {
    color: black;
    transform: scale(.993, .994);
    transition: transform .5s, opacity .25s;
    box-shadow: 1px -1px 20px #1beabd,
        -1px 1px 20px #10abff;
    border: 2px solid #00bfff;
}